.container {
    width: 400px;
    height: 400px;
    border: 1px solid black;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    margin: auto;
    top: 200px;
}

.box {
    width: 198px;
    height: 198px;
    border: 1px solid black;
    position: absolute;
    margin-left: auto;
}

.one {

}

.two {
    left: 200px;
}

.three {
    top: 200px;
}

.four {
    left: 200px;
    top: 200px;
}